@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&family=Poppins:wght@200;400;600&family=Roboto&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'poppins', sans-serif;
    margin: 0;
}

.nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color:#f27935;
    padding: 10px;
}

.nav img{
    padding-right: 1rem;
    width: 200px;   
}

input {
    width: 20rem;
    /* height: 3rem; */
    padding: 10px;
    /* width: 100%; */
    /* padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555; */
    outline: none; 
}

.material-icons { color: #ffffff; }

.nav-1{
    display: flex;
    /* flex-direction: column; */
}

.nav-2{
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.icon{
     display: flex;
     align-items: center;
    padding-right: 1rem;
}

h4{
    font-weight: 400;
    color: #ffffff;
    padding: 0 0.7rem;

}

div .banner{
    display: flex;
    flex-wrap: wrap;
}

.banner {    
    background: url('/assets/banner.PNG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
}

.card-container{
    width: 150px;
    height: 150px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    /* opacity: 1; */
    /* color: #f27935; */
    margin: 0.5rem 1rem;
}